version: '3.1'

services:
  postgresql:
    container_name: postgresql
    image: docker.io/postgres:14.2
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5433:5432
    networks: 
      - biblioteca-network
    volumes:
      - postgresql:/var/lib/postgresql/data
  pgadmin:
    container_name: pgadmin
    image: docker.io/dpage/pgadmin4:7.7
    environment:
      PGADMIN_DEFAULT_EMAIL: email@email.com
      PGADMIN_DEFAULT_PASSWORD: pgadmin
    ports:
      - 15433:80
    depends_on:
      - postgresql
    networks: 
      - biblioteca-network
  biblioteca-api:
    container_name: biblioteca-api
    image: biblioteca-api
    environment:
      - DATABASE_URL=jdbc:postgresql://postgresql:5432/biblioteca-ifmt
    ports:
      - 8080:8080
    depends_on:
      - postgresql
    networks:
      - biblioteca-network
networks:
  biblioteca-network:
    driver: bridge
volumes:
  postgresql:
    external: true